

.navbar-brand img {
    height: 100px; /* Initial height */
    transition: height 0.3s; /* Smooth transition for height change */
}

.jumbotron {
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.display-4 {
    text-align: center;
    padding-top: 20%;
    font-size: 42px; /* Adjust the font size as needed */
    font-family: 'Verdana', san serif;
}

.header-buttons {
    text-align: center;
    margin-top: 20px; /* Adjust spacing from the text above */
}

.bg-overlay {
    position: relative;
    background-image: url('../images/spalshpage.png'); /* Corrected file name */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
}

.bg-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.bg-overlay .container {
    padding-top: 20px;
    position: relative;
    z-index: 2;
}

.carousel-inner {
    padding: 20px 20px;
}

.video-carousel {
    width: 75%;
    margin: 0 auto; /* Center the carousel */
}

.video-carousel iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Adjust this based on your video's aspect ratio */
}


.articles { 
    padding: 30px 15px;
}

.footer {
    padding: 20px 0;
    text-align: center;
}

.contact-logo {
    /* Centering the image vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: /* specify a height for the div */;
}

.contact-logo img {
    /* Resizing and centering the image */
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
}
